<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<!--<app-pie-chart [inputData]="[{name: 'first', quantity: 100},{name: 'second', quantity: 300}, {name: 'third', quantity: 500}]"></app-pie-chart>-->
<!--<charts-line [useDefaultData]="false" [inputData]="{data: [{data: [65, 59, 80, 81, 56, 55, 40], label: 'Series A'}],labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July']}"></charts-line>-->
<charts-pie [useDefaultData]="true"></charts-pie>
<charts-line [useDefaultData]="true"></charts-line>
<charts-bar [useDefaultData]="true"></charts-bar>
<charts-radar [useDefaultData]="true"></charts-radar>
